*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.contenedorUniversal{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*Inicio header*/
.header{
    background-color: #070534;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    max-width: 40rem;
}

.header__item{
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem;
    font-weight: 400;
}

.header__ancla{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    transition: all 0s;
}

.header__ancla:hover{
    text-decoration: underline;
    font-weight: 700;
}

.header__ancla--activo{
    background-color: whitesmoke;
    color: #070534;
    font-weight: 700;
}
/*Fin header*/

/*Incio footer*/
.footer{
    background-color: #070534;
    color: whitesmoke;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__columnaUno{
    padding: 1rem;
}

.footer__tituloColumnaUno{
    padding: 0.2rem;
    font-size: 1.2rem;
}

.footer__columnaUno .footer__item{
    list-style: none;
    font-size: 1rem;
    padding: 0.2rem;
}

.footer__columnaDos .footer__logo{
    width: 8rem;
    height: 8rem;
    margin: 1rem;
}

.footer__columnaTres .footer__redSocial{
    font-size: 2.8rem;
    width: 3rem;
    height: 3rem;
    background-color: whitesmoke;
    color: whitesmoke;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0.5rem;
}
/*Fin footer*/

/*Inicio main Index*/
.mainIndex{
    padding: 1rem;
    background-image: url(../img/pattern\ moroccan-flower.png);
}

.mainIndex__seccion{
    display: flex;
    justify-content: space-evenly;
}

.mainIndex__contenedor{
    position: relative;
}

.mainIndex__sinopsisEtiqueta{
    display: inline;
    padding: 0.2rem 0.5rem;
    border: solid 0.1rem whitesmoke;
    margin: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    background-color: #070534;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mainIndex__imagen{
    height: 28rem;
    width: 18rem;
    padding: 0.5rem;
    border: solid 0.5rem #234454;
    margin: 0.5rem;
}

.mainIndex__contenedorSinopsis{
    display: flex;
    align-items: center;
    padding: 1rem 6rem;
    border: 0.5rem double whitesmoke;
    margin: 5rem 7rem;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: 400;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    line-height: 3rem;
    background-color: #234454;
}

.mainIndex__contenedorSinopsis h4{
    display: grid;
    grid-template-columns: 15rem auto;
}

.mainIndex__sinopsis{
    padding-left: 6rem;
    text-align: justify;
}
/*Fin main Index*/

/*Inicio main Boletería*/
.mainBoleteria{
    background-image: url(../img/pattern\ moroccan-flower.png);   
    padding: 3rem 3rem;
}

.mainBoleteria__section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBoleteria__titulo{
    display: inline;
    font-size: 4rem;
    color: #234454;
    background-color: whitesmoke;
    margin: 1.5rem;
}

.mainBoleteria__contenedor{
    padding: 1rem;
    margin: 1rem;
    background-color: whitesmoke;
    display: flex;
}

.mainBoleteria label{
    color: #070534;
    font-size: 1.5rem;
    font-weight: 700;
    width: 10rem;
    margin-right: 2rem;
}

.mainBoleteria select{
    font-size: 1.5rem;
    flex-grow: 1;
    background-color: #234454;
    color: whitesmoke;
}

.mainBoleteria__buttonAncla{
    display: inline-block;
}

.mainBoleteria__button{
    padding: 1rem;
    margin: 6rem 3rem 1rem 3rem;
    border: solid 0.1rem #070534;
    border-radius: 7rem;
    background-color: #070534;
    color: whitesmoke;
    transition: all 1s;
}

.mainBoleteria__button:hover{
    background-color: #3EF59F;
    color: #070534;
    font-weight: 700;
}
/*Fin main Boletería*/

/*Inicio main Próximamente*/
.mainProximamente{
    padding: 1.5rem;
    background-image: url(../img/pattern\ moroccan-flower.png);
}

.mainProximamente__contenedor{
    display: flex;
    align-items: center;
    padding: 1rem 7rem;
    border: 0.5rem double #234454;
    margin: 5rem 5rem;
    background-color: whitesmoke;
    transition: all 3s;
}

.mainProximamente__contenedor:hover{
    background-color: #234454;
    border: 0.5rem double whitesmoke;
}

.mainProximamente__imagen{
    height: 35rem;
    width: 27rem;
    padding: 0.5rem 2rem;
    margin: 1.5rem;
}

.mainProximamente__sinopsis{
    font-size: 1.3rem;
    text-align: justify;
    color: #070534;
    font-weight: 700;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    line-height: 4rem;
    transition: all 3s;
}

.mainProximamente__sinopsis:hover{
    color: whitesmoke;
}
/*Fin main Próximamente*/

/*Inicio main Contacto*/
.mainContacto{
    padding: 4.5rem;
    background-image: url(../img/pattern\ moroccan-flower.png);
}

.mainContacto__leyendaFormato{
    font-size: 4rem;
    color: #234454;
}

.mainContacto__titulo{
    font-size: 1.5rem;
    margin: 2rem;
    color: #234454;
}

.mainContacto__fieldset{
    padding-left: 7rem;
    padding-right: 7rem;
}

.mainContacto__titulo{
    background-color: whitesmoke;
    text-align: justify;
}

.mainContacto__contenedor{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 2rem;
    color: #234454;
}

.mainContacto__contenedor label{
    background-color: whitesmoke;
}

.mainContacto__textoFormato{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 1.5rem;
    background-color: whitesmoke;
}

.mainContacto__textareaInput{
    height: 20rem;
    width: 100%;
}

.mainContacto__botones{
    display: flex;
    justify-content: center;
}

.mainContacto__reset{
    padding: 1rem;
    margin: 1.5rem;
    border: solid 0.1rem #070534;
    border-radius: 7rem;
    background-color: #070534;
    color: whitesmoke;
    font-weight: 700;
    transition: all 1s;
}

.mainContacto__reset:hover{
    background-color: #3EF59F;
    color: #070534;
    font-weight: 700;
}

.mainContacto__submit{
    padding: 1rem;
    margin: 1.5rem;
    border: solid 0.1rem #070534;
    border-radius: 7rem;
    background-color: #070534;
    color: whitesmoke;
    font-weight: 700;
    transition: all 1s;
}

.mainContacto__submit:hover{
    background-color: #3EF59F;
    color: #070534;
    font-weight: 700;
}
/*Fin main Contacto*/

/*Inicio main Mi Cuenta*/
.mainMiCuenta{
    padding: 1.5rem;
    background-image: url(../img/pattern\ moroccan-flower.png);
    display: flex;
    justify-content: center;
}

.mainMiCuenta__form{
    padding: 3rem;
}

.mainMiCuenta__fieldset{
    padding: 3rem 5rem;
    background-color: whitesmoke;
    text-align: center;
    line-height: 3.5rem;
}

.mainMiCuenta__leyendaFormato{
    font-size: 4rem;
    color: #234454;
}

.mainMiCuenta__contenedor{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem;
    color: #234454;
}

.mainMiCuenta__submit{
    padding: 1rem;
    margin: 2rem;
    border: solid 0.1rem #070534;
    border-radius: 7rem;
    background-color: #070534;
    color: whitesmoke;
    font-weight: 700;
    transition: all 1s;
}

.mainMiCuenta__submit:hover{
    background-color: #3EF59F;
    color: #070534;
    font-weight: 700;
}

.mainMiCuenta__texto{
    font-size: 1.8rem;
    margin: 2rem;
    color: #234454;
}

.mainMiCuenta__ancla{
    text-decoration: underline;
    color: #234454;
}

.mainMiCuenta__strong{
    font-weight: 700;
}
/*Fin main Mi Cuenta*/


/*Inicio MEDIA QUERIES (estilos móviles)*/
@media screen and (max-width: 425px){

    .header{
        flex-direction: column;}
    .header__logoContenedor{
        background-image: url(../img/banner_cinema_paradiso_mobile.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 5.8rem;}
    .header__logo{
        display: none;}
    .header__lista{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;}
    
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "col1 col3"
            "col2 col2";}
    .footer__columnaUno{
        grid-area: col1;
        font-size: 1rem;
        padding: 0rem;
        justify-self: start;}
    .footer__columnaDos{
        grid-area: col2;
        justify-self: center;}
    .footer__columnaDos .footer__logo{
        margin: 0rem;
        width: 6rem;
        height: 6rem;}
    .footer__columnaTres{
        grid-area: col3;
        padding: 0rem;
        justify-self: end;}

    .mainIndex__seccion{
        flex-direction: column;}
    .mainIndex__contenedor{
        display: flex;
        justify-content: center}
    .mainIndex__imagen{
        height: 32rem;
        width: 24rem;}
    .mainIndex__sinopsisEtiqueta{
        display: none;}
    .mainIndex__contenedorSinopsis {
        display: grid;
        align-items: center;
        padding: 0.5rem 0.5rem;
        border: 0.5rem double #234454;
        margin: 2rem 1rem;
        font-size: 1.4rem;
        color: #070534;
        font-weight: 400;
        word-spacing: 0.5rem;
        line-height: 4rem;
        background-color: whitesmoke;}
    .mainIndex__contenedorSinopsis h4 {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1.2rem;  
        font-style: italic;
        text-align: center;
        line-height: 2.2rem;}
    .mainIndex__sinopsis {
        padding: 0rem 0.5rem;
        letter-spacing: 0rem;
        line-height: 2.2rem;
        font-size: 1.1rem;
        font-weight: 700;
        color: #070534;
        text-align: justify;}

    .mainBoleteria{ 
        padding: 1rem 1rem;}

    .mainBoleteria__section{
        padding: 1rem;}    

    .mainBoleteria__titulo{
        font-size: 1.8rem;
        margin: 0.5rem;}

    .mainBoleteria label{
        font-size: 1.1rem;
        font-weight: 700;
        width: 6rem;
        margin-right: 1.5rem;}

    .mainBoleteria select{
        font-size: 1.1rem;}

    .mainBoleteria__button{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 4rem 2rem 1rem 2rem;}

    .mainProximamente{
        padding: 0.5rem;}

    .mainProximamente__contenedor{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;}

    .mainProximamente__imagen{
        height: 32rem;
        width: 24rem;
        padding: 1rem;
        margin: 0rem;}

    .mainProximamente__sinopsis{
        padding: 1rem 2rem;
        font-size: 1.2rem;
        text-align: justify;
        color: #070534;
        font-weight: 700;
        letter-spacing: 0rem;
        word-spacing: 0rem;
        line-height: 3rem;
        transition: all 3s;}

    .mainContacto{
        padding: 2.5rem 0.5rem;}

    .mainContacto__leyendaFormato{
        font-size: 2.2rem;}

    .mainContacto__titulo{
        font-size: 1.2rem;
        margin: 1.5rem;}

    .mainContacto__fieldset{
        padding-left: 1.5rem;
        padding-right: 1.5rem;}

    .mainContacto__contenedor{
        font-size: 1.2rem;
        margin: 1.5rem;}

    .mainContacto__textoFormato{
        font-size: 1.2rem;
        margin-right: 0.5rem;
        text-align: justify;} 

    .mainContacto__textareaInput{
        height: 15rem;
        width: 100%;}

    .mainContacto__reset{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1.5rem;
        border-radius: 7rem;}

    .mainContacto__submit{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1.5rem;
        border-radius: 7rem;}

    .mainMiCuenta{
        padding: 8.5rem 0.5rem;}

    .mainMiCuenta__form{
        padding: 1rem;}

    .mainMiCuenta__fieldset{
        padding: 1rem;
        line-height: 2.5rem;}

    .mainMiCuenta__leyendaFormato{
        font-size: 2.2rem;}

    .mainMiCuenta__contenedor{
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.8rem;}

    .mainMiCuenta__submit{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1.5rem;}

    .mainMiCuenta__texto{
        font-size: 1.4rem;
        margin: 1rem;}

}
/*Fin MEDIA QUERIES (estilos móviles)*/

