/*inicio media-queries (estilos tablet)*/

@media screen and (max-width: 768px){

    .header{
        flex-direction: column;}

    .mainIndex__imagen{
        height: $altoImgTablet;
        width: $anchoImgTablet;
        padding: 0.5rem;
        border: solid 0.2rem $azulClaro;
        margin: 0.5rem;}

    .sinopsis__titulo{
        margin-bottom: 1.5rem;
        font-size: 1.2rem;}
    
    .sinopsis__sinopsis{
        font-size: 1rem;}
    
    .mainBoleteria label{
        font-size: 1.3rem;}
    
    .mainBoleteria select{
        font-size: 1.3rem;}

    .mainProximamente{
        padding: 0.5rem;}
    
    .mainProximamente__contenedor{
        padding: 2rem;
        margin: 3rem;}
    
    .mainProximamente__imagen{
        height: $altoImgTab-Mob;
        width: $anchoImgTab-Mob;
        padding: 1rem;
        margin: 0rem;}

    .mainProximamente__sinopsis{
        padding: 1rem 2rem;
        font-size: 1.2rem;
        text-align: justify;
        color: $azulOscuro;
        font-weight: 700;
        letter-spacing: 0rem;
        word-spacing: 0rem;
        line-height: 3rem;
        transition: all 3s;}

    .mainContacto__leyendaFormato{
        font-size: $tituloTablet;}

    .mainContacto__titulo{
        font-size: 1.3rem;}
        
    .mainContacto__contenedor{
        font-size: 1.3rem;}
        
    .mainContacto__textoFormato{
        font-size: 1.3rem;}

    .mainMiCuenta__leyendaFormato{
        font-size: $tituloTablet;}

    .mainMiCuenta__fieldset{
        line-height: 2rem;}

    .mainMiCuenta__contenedor{
        font-size: 1.3rem;}
    
    .mainMiCuenta__texto{
        font-size: 1.5rem;}

}

/*fin media-queries (estilos tablet)*/


/*inicio media-queries (estilos móviles)*/

@media screen and (max-width: 425px){

    .header{
        flex-direction: column;}
    .header__logoContenedor{
        background-image: url(../img/banner_cinema_paradiso_mobile.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 5.8rem;}
    .header__logo{
        display: none;}
    .header__lista{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;}
    
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "col1 col3"
            "col2 col2";}
    .footer__columnaUno{
        grid-area: col1;
        font-size: 1rem;
        padding: 0rem;
        justify-self: start;}
    .footer__columnaDos{
        grid-area: col2;
        justify-self: center;}
    .footer__columnaDos .footer__logo{
        margin: 0rem;
        width: 6rem;
        height: 6rem;}
    .footer__columnaTres{
        grid-area: col3;
        padding: 0rem;
        justify-self: end;}

    .mainIndex__seccion{
        flex-direction: column;}
    .mainIndex__contenedor{
        display: flex;
        justify-content: center}
    .mainIndex__imagen{
        height: $altoImgTab-Mob;
        width: $anchoImgTab-Mob;}
    .mainIndex__sinopsisEtiqueta{
        display: none;}
    .sinopsis__imagen{
        display: none;}
    .sinopsis__anchor{
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        border: 0.5rem double $azulClaro;
        margin: 2.5rem 1rem;
        color: $azulOscuro;
        font-weight: 400;
        word-spacing: 0.3rem;
        line-height: 2rem;
        background-color: $blanco;}
    .sinopsis__titulo{
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: center;
        font-style: italic;}
    .sinopsis__sinopsis{
        letter-spacing: 0rem;
        font-size: 1.1rem;
        font-weight: 700;
        color: $azulOscuro;
        text-align: justify;}
    
    .mainBoleteria{ 
        padding: 1rem 0.8rem;}

    .mainBoleteria__section{
        padding: 1rem;}    

    .mainBoleteria__titulo{
        font-size: $tituloMobile;
        margin: 0.5rem;}

    .mainBoleteria label{
        font-size: 1.1rem;
        font-weight: 700;
        width: 6rem;
        margin-right: 1.5rem;}

    .mainBoleteria select{
        font-size: 1.1rem;}

    .mainBoleteria__button{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 4rem 2rem 1rem 2rem;}

    .mainProximamente{
        padding: 0.5rem;}

    .mainProximamente__contenedor{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;}

    .mainProximamente__imagen{
        height: $altoImgTab-Mob;
        width: $anchoImgTab-Mob;
        padding: 1rem;
        margin: 0rem;}

    .mainProximamente__sinopsis{
        padding: 1rem 2rem;
        font-size: 1.2rem;
        text-align: justify;
        color: $azulOscuro;
        font-weight: 700;
        letter-spacing: 0rem;
        word-spacing: 0rem;
        line-height: 3rem;
        transition: all 3s;}

    .mainContacto{
        padding: 2.5rem 0.5rem;}

    .mainContacto__leyendaFormato{
        font-size: $tituloMobile;}

    .mainContacto__titulo{
        font-size: 1.2rem;
        margin: 1.5rem;}

    .mainContacto__fieldset{
        padding-left: 1.5rem;
        padding-right: 1.5rem;}

    .mainContacto__contenedor{
        font-size: 1.2rem;
        margin: 1.5rem;}

    .mainContacto__textoFormato{
        font-size: 1.2rem;
        margin-right: 0.5rem;
        text-align: justify;} 

    .mainContacto__textareaInput{
        height: 15rem;
        width: 100%;}

    .mainContacto__reset{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1.5rem;
        border-radius: 7rem;}

    .mainContacto__submit{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1.5rem;
        border-radius: 7rem;}

    .mainMiCuenta{
        padding: 8.5rem 0.5rem;}

    .mainMiCuenta__form{
        padding: 1rem;}

    .mainMiCuenta__fieldset{
        padding: 1rem;
        line-height: 2.5rem;}

    .mainMiCuenta__leyendaFormato{
        font-size: $tituloMobile;}

    .mainMiCuenta__contenedor{
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.8rem;}

    .mainMiCuenta__submit{
        font-size: 1.1rem;
        padding: 1rem;
        margin: 1.5rem;}

    .mainMiCuenta__texto{
        font-size: 1.4rem;
        margin: 1rem;}

}

/*fin media-queries (estilos móviles)*/