/*inicio próximamente*/

.mainProximamente{
    padding: 1.5rem;
    background-image: url(/img/pat-moroccan-flower.jpg);
    &__contenedor{
        display: flex;
        align-items: center;
        padding: 1rem 7rem;
        border: 0.5rem double #234454;
        margin: 5rem 5rem;
        background-color: whitesmoke;
        transition: all 3s;
        &:hover{
            background-color: #234454;
            border: 0.5rem double whitesmoke;}
    }
    &__imagen{
        height: 35rem;
        width: 27rem;
        padding: 0.5rem 2rem;
        margin: 1.5rem;}
    &__sinopsis{
        font-size: 1.3rem;
        text-align: justify;
        color: #070534;
        font-weight: 700;
        letter-spacing: 0.5rem;
        word-spacing: 0.5rem;
        line-height: 4rem;
        transition: all 3s;
        &:hover{
            color: whitesmoke;}
    }
}

/*fin próximamente*/