/*colores*/
$blanco: whitesmoke;
$azulOscuro: #070534;
$azulClaro: #234454;
$verde: #3EF59F;

/*tamaños de fuentes*/
$titulo: 4rem;
$tituloTablet: 3.2rem;
$tituloMobile: 2rem;

/*propiedades de la caja*/
$paddingBoton: 1rem;
$bordeBoton: solid 0.1rem #070534;
$radioBorde: 7rem;
$altoImagen: 28rem;
$anchoImagen: 18rem;
$altoImagenProx: 35rem;
$anchoImagenProx: 27rem;
$altoImgTablet: 22rem;
$anchoImgTablet: 14rem;
$altoImgTab-Mob: 32rem;
$anchoImgTab-Mob: 24rem;
$altoImgProxMobile: 32rem;
$anchoImgProxMobile: 24rem;
